{{ define "admin/portfolios.html" }}
{{ template "layouts/header.html" . }}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary">
                    Portfolios Add
                </div>
                <div class="card-body">
                    <form action="/portfolios" method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                    
                            <div class="form-group">
                                <label for="exampleInputFile">Portfolios Image</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="image" class="custom-file-input"
                                            id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "layouts/footer.html" . }}
{{ end }}